window.application {
  min-height: 360px;
  min-width: 360px;
}

.time-signature {
  margin: 0 12px 18px 12px;
}

.time-signature > :not(:last-child) {
  margin-right: 18px;
}

.controls {
  margin: 18px 12px 0 12px;
}

.controls > :not(:last-child) {
  margin-right: 36px;
}

button.large,
menubutton.large {
  min-height: 50px;
  min-width: 50px;
}

button.large label {
  font-weight: bold;
}

.display {
  border-radius: 6px;
  border-width: 1px;
  margin: 0 12px;
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.display.small {
  border-radius: 0;
  border-width: 1px 0;
  margin: 0;
}

.display > box.horizontal {
  margin: 0 12px;
}

.display > box.horizontal > :not(:last-child) {
  margin-right: 12px;
}

.display label.bpm {
  font-size: 8em;
  font-weight: 300;
}

.display box.bpm > :not(:last-child) {
  margin-bottom: 6px;
}

.display scale {
  margin: 12px;
}

timerbutton {
  /* Mimicks Adwaita's private $dark_fill color. */
  background-color: mix(@borders, @theme_bg_color, 0.5);
  border-radius: 100%;
  color: @accent_bg_color;
  outline: 1px solid alpha(black, .1);
  outline-offset: -1px;
}

timerbutton stack {
  border-radius: 100%;
  margin: 4px;
  color: transparent;
  background: @theme_bg_color;
}

timerbutton button {
  border: none;
  box-shadow: 0 0 0 1px alpha(black, .1);
  min-height: 84px;
  min-width: 84px;
}

timerbutton button image {
  -gtk-icon-size: 32px;
}

timerbuttontrough {
  border-radius: 100%;
}

timerbuttonmark {
  outline: solid 1px white;
}

@keyframes reject {
  0% { background: radial-gradient(transparent 100%, @accent_bg_color 100%); }
  100% { background: radial-gradient(transparent 0%, @accent_bg_color 0%); }
}

@keyframes inject {
  0% { background: radial-gradient(transparent 0%, @accent_bg_color 0%); }
  100% { background: radial-gradient(transparent 100%, @accent_bg_color 100%); }
}

timerbutton:not(:checked) stack > button:first-child image {
  animation: reject ease-out 200ms;
  border-radius: 100%;
  /* Mimicks Adwaita's button.suggested-action. */
  background-color: @accent_bg_color;
  color: white;
}

timerbutton stack > button {
  outline-offset: 5px;
}

timerbutton:not(:checked) stack > button:first-child:hover image {
  /* Mimicks Adwaita's button.suggested-action:hover. */
  background-color: mix(@accent_bg_color, black, 0.08);
}

timerbutton:checked stack > button:last-child image {
  animation: inject ease-out 200ms;
  border-radius: 100%;
  color: @theme_fg_color;
}
